/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style  */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header style  */
.navigation-bar{
    color: #3E3E3E;
}
.book-btn{
    text-decoration: none;
    padding: 6px 10px;
    font-weight: bolder;
    background-color: #3F87F5;
    color: white;
    border-radius: 5px;
    border: 1px solid #3F87F5;
}
.book-btn:hover{
    
    color: #3F87F5;
    background-color: white;
}
.size-class{
    width: 100%;
    height: 35%;
}
.checkmark{
    color: #5243C2;
    background-color: #5243c21a;
    padding: 5px;
    border-radius: 15px;
    margin-right: 3%;
}

.plan-button{
    padding: 5px 30px;
    text-align: center;
    background-color: #f496d279;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;

}
.pack-para{
    color: #848199;
}
.card-title{
    color: #231D4F;
    font-size: 36px;
    font-weight: bold;
}
.card-title-1{
    color: #231D4F;
    font-size: 26px;
    font-weight: bolder;
}
.card-style{
    box-shadow: 5px 5px 8px 12px rgba(201, 201, 201, 0.504);
}
.card-style:hover{
    transform: scale(1.03);
    transition: transform 2s ease-in-out;
    background-color: red;
}

.card-style:hover .card-title{
    color: white;   
}

.card-style:hover .card-title-1{
    color: white;   
}

.card-style:hover .pack-para{
    color: white;   
}
.card-style:hover .plan-button{
    background-color: white;
}
#card-style-hot{
    background-color: #2878f0;
    box-shadow: 5px 5px 8px 12px rgba(201, 201, 201, 0.504);
    position: relative;

}
#card-style-hot .card-title{
    color: white;   
}
#card-style-hot .card-title-1{
    color: white;   
}

#card-style-hot .pack-para{
    color: white;   
}
#card-style-hot .plan-button{
    background-color: white;
}

#card-style-hot:hover{
    transform: scale(1.03);
    transition: transform 2s ease-in-out;
    background-color: red;

}
.note-bar{
    background-color: red;
    position: absolute;
    margin-bottom: 5%;
}
.package-btn{
    background-color: red;
    overflow: hidden;
}
.package-btn:hover{
    background-color: red;
    overflow: hidden;
}

.card-design{
    box-shadow: 5px 5px 8px 12px rgba(201, 201, 201, 0.504);
}
.card-text{
    color: #6C6C6C;
}
.pro-color{
    color: #747474;
}

.see-all-btn{
    text-decoration: none;
    padding: 8px 15px;
    background-color: rgb(248, 34, 123);
    margin-left: 47%;
    color: white;
    font-weight: bold;
}
.see-all-btn:hover{
    background-color: white;
    color: rgb(248, 34, 123);
    border: 1px solid rgb(248, 34, 123);;
}

/* toast style  */
.toast-body{
    color: #2878f0;
    border-left: 3px solid blue;
}